
.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
 
  
  border-radius: 12px;
  
  
  
}
  .divider {
    width: 50%;
    border-color: rgba(255, 255, 255, 0);
    opacity: 0.25;
    margin-bottom: 2rem;
  }


.content {
  max-width: 600px;
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.hero {
  padding-bottom:10px;
  padding-top: 8px;
  
  
}



.heroBackgroundInner {
  position: absolute;
  top: -352px;
  left: 50%;
  width: clamp(1000px, calc(59.6vw + 776px), 1540px);
  aspect-ratio: 1/1;
  transform: translateX(-50%);
}

.gradient {
  height: 100%;
  width: 100%;
  opacity: 0.76;
}

.heroAssetFrame {
  display: flex;
  justify-content: center;
  margin: 10px auto 0;
  padding: 1em;
  overflow: hidden;
  padding-top: 20px;
  padding-left:15px;
  
}

.heroAsset {
  max-width: 100vw;
  
}

.heroBodyContainer {
  width: 100%;
  padding: 0 3px;
  margin: 0 auto;
}

.heroBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.heroTitle {
  align-items: center;
  margin-bottom: -80px;
  color: #fafafa7d;
  font-size: Min(12vw, 40px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.heroTitleGradient {
  padding-right: 12px;
  font-weight: 700px;
}

.heroSubtitle {
  max-width: 640px;
  color: hsl(0, 0%, 4%);
  font-size: Min(3.8vw, 20px);
  letter-spacing: 0.3px;
  line-height: 140%;
  text-align: center;
  margin-top: 8rem;
  transform: translateY(5px);
  background-color: #a19fa358;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.heroCtaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 9rem;
}

.codeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 560px;
  max-width: 100%;
  height: 48px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  transition: background-color 0.2s;
}

/* Place a $  before the code button text */
.codeButton::before {
  content: "$ ";
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-right: 8px;
}

.codeButton:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.codeButtonCopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  opacity: 0.9;
}

.heroCta {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  margin: 16px 0;
  background-clip: padding-box;
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 8px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
}

.heroCta::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 0;
  left: 5px;
  background: conic-gradient(
    from 147.14deg at 50% 50%,
    var(--color-primary) -55.68deg,
    var(--color-secondary) 113.23deg,
    var(--color-tertiary) 195deg,
    var(--color-quaternary) 304.32deg,
    var(--color-primary) 473.23deg
  );
  border-radius: 6px;
  content: "";
  filter: blur(20px);
  opacity: 0.6;
}

.heroCta:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.secondaryCta {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.secondaryCta:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.tabs {
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tab {
  font-weight: 600;
  cursor: pointer;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  width: 20%;
  height: 100%;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tabContent {
  transition: all 0.5s ease-in-out;
}

.transition {
  opacity: 0;
  transform: scale(0.9);
}

.link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.code {
  background-color: #0d0d18;
  color: white;
  padding: 8px 4px;
  border-radius: 8px;
}

.list {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.list li {
  margin-bottom: 1em;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  
  padding-top: 1rem;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 150px;
  margin-bottom: -5rem;
  
  
  

  /* before */
}

.slider::before {
  content: "";
  height: 100px;
 
  width: 200px;
  z-index: 1;
  
  
}

.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 1;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slideTrack {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc(450px * 20);
 
}

.slide {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide1 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide2 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide3 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide4 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide5 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide6 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide7 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide8 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
.slide9 {
  height: 150px;
  width: 250px;
  cursor: pointer;
}
@media only screen and (max-width: 600px){
  .slider {
    
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 150px;
    margin-bottom: -5rem;
    
    
    
  
    /* before */
  }
  }

@media only screen and (min-width: 600px){
  .slider {
    
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 150px;
    margin-bottom: -5rem;
    
    
    
  
    /* before */
  }
  }

@media only screen and (min-width: 768px){
  .slider {
    
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
    width: 700px;
    height: 150px;
    margin-bottom: -5rem;
    
    
    
  
    /* before */
  }
  }

@media only screen and (min-width: 992px){
  .slider {
    
    padding-top: 1rem;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 150px;
    margin-bottom: -5rem;
    
    
    
  
    /* before */
  }
  }

@media only screen and (min-width: 1200px){
.slider {
  
  padding-top: 1rem;
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 150px;
  margin-bottom: -5rem;
  
  
  

  /* before */
}
}
